* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 30px 50px;

}
.link {
    display: flex;
    gap: 10px;
}
.link a {
    text-decoration: none;
}
.sect1{
    display: flex;
    background-color: aquamarine;
    height: 800px;
    alignment-baseline: alphabetic;
}
.part1{
    height: 800px;  
    background-color: aqua;
}
.part1 h1{
    color: rgba(6, 6, 178, 0.982); 
}
.part1 button{
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.about {
    display: flex;
    padding: 8vh 8vw;
    justify-content: center;
    gap: 2vw;
}
.left {
    width: 30%;
    font-size: 1.5vw;
}
.left h1 {
    color: #314584;  
}
.left button {
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;
}
.about>.card {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 30%;
    padding: 2vh 2vw;
    box-shadow: 0px 4px 8px hsla(0, 0%, 50%, 0.377);
}
.card>h1 {
    width: 100%;
    color:  #314584;;
}
.card>p {
    width: 100%;
    font-size: large;
    color: gray;
}
.contact {
    padding: 2vh 8vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.contact h1 {
    color: #314584;
}
.contact>div>p {
    color: #ff3946;
}
.contact>form{
    display: flex;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}
.main_btn{
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;  
}
form>input {
    grid-area: "input";
    width: calc((100% / 2) - 10px);
    padding: 2vh 0;
    background-color: #f4fafe;
    border: none;
    
}
form>textarea {
    grid-area: "textarea";
    width: 100%;
    padding: 2vh 0;
    background-color: #f4fafe;
    border: none;
    
}
