* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    /* background-color: #f8f9fa; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 30px 50px;

}
.link {
    display: flex;
    gap: 10px;
}
.link a {
    text-decoration: none;
}
.sect1{
    display: flex;
    background-color: aquamarine;
    height: 800px;
    alignment-baseline: alphabetic;
}
.part1{
    height: 800px;  
    background-color: aqua;
}
.part1 h1{
    color: rgba(6, 6, 178, 0.982); 
}
.part1 button{
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.about {
    display: flex;
    padding: 8vh 8vw;
    justify-content: center;
    gap: 2vw;
}
.left {
    width: 30%;
    font-size: 1.5vw;
}
.left h1 {
    color: #314584;  
}
.left button {
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;
}
.about>.card {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 30%;
    padding: 2vh 2vw;
    box-shadow: 0px 4px 8px hsla(0, 0%, 50%, 0.377);
}
.card>h1 {
    width: 100%;
    color:  #314584;;
}
.card>p {
    width: 100%;
    font-size: large;
    color: gray;
}
.menuBtns .fa-bars , .menuBtns .fa-xmark{
    display: none;
}
#menu{
    display: none;
}

@media (max-width:500px){
    nav .link{
    position: absolute;
    background-color: white;
    flex-direction: column;
    width: 80%;
    top: 15vh;
    left: -100%;
    padding: 20px 0;
    border-radius: 20px;
    transition: 1s;
    
    
}
   nav .link a{
    color: hsl(233, 26%, 24%);
    font-weight: 700;
} 
  .menuBtns .fa-bars{
    display: block;
}
#menu:checked ~ .link{
    left: 5vw;
}
#menu:checked ~ .menuBtns > label > .fa-bars{
    display: none;
}
#menu:checked ~ .menuBtns > label >.fa-xmark{
    display: block;
}  
    nav button{
        display: none;
    }
    .sect1{
        flex-direction: column;
        height: auto;
        padding: 0;

    }
    .part1, .img{
        width: 100%;
        height: auto;
    }
    .img img{
        width: 100%;
    }

}