* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;

}
.link{
    display: flex;
    gap: 10px;
}
.link a{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    display: flex;
}
.left h1 {
    color: rgba(6, 6, 178, 0.982);  
}
.left button {
    background-color: red;
    color: white;
    border: none;
}