* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 30px 50px;

}
.link{
    display: flex;
    gap: 10px;
}
.link a{
    text-decoration: none;
}
.sect1{
    display: flex;
    background-color: aquamarine;
    height: 800px;
    alignment-baseline: alphabetic;
}
.part1{
    height: 800px;  
    background-color: aqua;
}
.part1 h1{
    color: rgba(6, 6, 178, 0.982); 
}
.part1 button{
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    display: flex;
}
.left h1 {
    color: rgba(6, 6, 178, 0.982);  
}
.left button {
    background-color: red;
    color: white;
    border: none;
}
