* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;

}
.link{
    display: flex;
    gap: 10px;
}
.link a{
    text-decoration: none;
}
