* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;

}
.link {
    display: flex;
    gap: 10px;
}
.link a {
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.about {
    display: flex;
    padding: 8vh 8vw;
    justify-content: center;
    gap: 2vw;
}
.left {
    width: 30%;
    font-size: 1.5vw;
}
.left h1 {
    color: #314584;  
}
.left button {
    background-color: red;
    color: white;
    border: none;
    padding: 2vh 2vw;
    border-radius: 50px;
}
.about>.card {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 30%;
    padding: 2vh 2vw;
    box-shadow: 0px 4px 8px hsla(0, 0%, 50%, 0.377);
}
.card>h1 {
    width: 100%;
    color:  #314584;;
}
.card>p {
    width: 100%;
    font-size: large;
    color: gray;
}
