*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    display: flex;
}
.left h1 {
    color: rgba(6, 6, 178, 0.982);  
}
.left button {
    background-color: red;
    color: white;
    border: none;
}